<div class="carousel">
  <ul class="carousel__list">
    <li class="carousel__item" data-pos="-2">
      <app-welcome></app-welcome>
    </li>
    <li class="carousel__item" data-pos="-1">
      <app-home></app-home>
    </li>
    <li class="carousel__item" data-pos="0">
      <app-about-me></app-about-me>
    </li>
    <li class="carousel__item" data-pos="1">
      <app-skills></app-skills>
    </li>
    <li class="carousel__item" data-pos="2">
      <app-contact-me></app-contact-me>
    </li>
  </ul>
</div>

<!-- <div class="carousel carousel-slider center bg-black rounded-lg">
  <div class="carousel-item" href="#one!">
    <h2>First Panel</h2>
    <app-welcome></app-welcome>
  </div>
  <div class="carousel-item" href="#two!">
    <h2>Second Panel</h2>
    <app-home></app-home>
  </div>
  <div class="carousel-item" href="#three!">
    <h2>Third Panel</h2>
    <app-about-me></app-about-me>
  </div>
  <div class="carousel-item" href="#four!">
    <h2>Fourth Panel</h2>
    <app-skills></app-skills>
  </div>
</div> -->
