<section
  id="about-me"
  class="p-4 mb-4 bg-black h-full overflow-scroll m-auto rounded-lg shadow-2xl text-center"
>
  <h2 class="pb-2 uppercase text-center font-bold underline">
    &nbsp;About Me&nbsp;
  </h2>
  <div>
    <img
      class="w-full md:w-1/2 max-w-xl mx-auto my-2 border-4 rounded-lg"
      src="../../../assets/images/alejandra.jpg"
      alt="Foto of me in Prague"
    />
    <p class="text-justify">
      Hello! My name is Alejandra Vargas, I'm a former mechanical design
      engineer turned frontend web developer. I’m self-taught and I am keen to
      gain more experience in the field. For this reason, I am looking for a
      company willing to offer me a position that matches my newly developed
      skills, among their developers. In return, I would offer my full
      commitment, and be a pleasant and friendly addition to your team.
      <br /><br />My passions include webdev, computer technologies, design, 3D
      and AI. I have chosen to become a web developer for how dynamic the
      environment is and the impact it has in modern world. <br />
      <br /><i aria-hidden="true" class="fas fa-dragon"></i> Random Facts<br />I’m
      part of a football team, I play as a striker. I enjoy cooking for others,
      eating (mostly Mexican food), travelling, reading, bike rides, chilling at
      the couch on the weekends and rainy nights.
    </p>
  </div>
  <hr />
  <app-skills></app-skills>
</section>
