:root {
  --main-white: #eaeaea;
  --main-black: #292939;
  --main-blue: #1b98e0;
  --second-blue: #0b4f6c;
  --main-red: #5b2333;
  --darker-red: #511f2d;
  --alert-red: #ef3054;
}

/* Base styles */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

#body {
  margin: 35px; /* 25px */
  background: var(--main-blue);
}

.section-header {
  padding-top: 3rem;
  margin: 0 auto 3rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.section-partition {
  width: 100%;
  border-top: 4px solid var(--main-white);
}

.sub-section-partition {
  width: 90%;
  border: 1px solid var(--main-white);
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  #body {
    margin: 15px;
  }

  .section-header {
    width: 85%;
    font-size: 3rem;
    padding-top: 0.5em;
    margin: 0 auto 0.75em auto;
  }

  .section-partition {
    border: 7.5px solid var(--main-blue);
  }

  #welcome {
    border-radius: 0 0 2em 2em;
  }

  #about-me,
  #portfolio {
    border-radius: 2em;
  }

  #contact {
    border-radius: 2em 2em 0 0;
  }
}
/* nav */

.nav {
  width: 100%;
  background: var(--main-white);
  border-radius: 2em 2em 0 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding: 2rem; /* 20px */
}

.nav-list a {
  color: var(--main-black);
  font-size: 2.2rem; /* 22px */
  padding: 0 1em;
}

.nav-list a:hover {
  color: var(--main-blue);
}

.nav-mobile {
  display: none;
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  .nav-list {
    margin: 0;
    justify-content: space-evenly;
  }

  .nav-list a {
    padding: 0;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
  }
}

/* welcome section */
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--main-black);
}

.main-logo {
  width: 200px;
}

#welcome > p {
  font-size: 3rem; /* 30px */
  font-weight: 200;
  font-style: italic;
  color: var(--main-blue);
}

/* about-me section */
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--main-red);
  padding-bottom: 2rem;
}

#me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  padding-bottom: 3rem;
}

.image-me,
.bio {
  width: 50%;
  max-width: 450px;
  margin: 0 1em;
}

.image-me {
  margin-top: 1.5em;
  border: 8px solid var(--main-white);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2em;
}

.bio {
  justify-content: center;
  text-align: justify;
  padding: 2rem 0;
}

.skills-header {
  padding-top: 0.5em;
  border-bottom: 0.2rem solid var(--main-white);
}

.main-skill-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  padding: 3rem;
}

.main-skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: auto;
}

.main-skill-logo {
  width: 85px;
  margin: auto;
  padding-bottom: 1em;
}

.main-skill-box > h3 {
  font-size: 3rem;
}

.secondary-skill-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(110px, 1fr));
  grid-gap: 0.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.secondary-skill-box {
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 0.5rem;
}

.secondary-skill-logo {
  width: 60px;
  margin: auto;
  padding-bottom: 0.5em;
}

/* 768px / 16px = 48em */
@media (max-width: 48em) {
  #me {
    padding-bottom: 2rem;
  }

  .image-me,
  .bio {
    width: 85%;
    max-width: 400px;
  }

  .main-skill-boxes {
    flex-direction: column;
  }

  .main-skill-box {
    padding-bottom: 1.5em;
    width: 85%;
    max-width: 400px;
  }

  .secondary-skill-grid {
    grid-template-columns: repeat(3, minmax(110px, 1fr));
    margin-top: 0;
    grid-gap: 0;
  }

  .secondary-skill-box {
    margin-bottom: 1em;
  }
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  #welcome {
    height: 85vh;
  }

  .image-me {
    border: 4px solid var(--main-white);
    margin-top: 0;
  }

  .main-skill-logo {
    width: 75px;
  }

  .secondary-skill-grid {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    margin-top: 0;
  }
}

/* portfolio section */

#portfolio {
  text-align: center;
  padding: 0 2rem 3.5rem 2rem;
  background: var(--second-blue);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding-top: 5rem;
}

.project-title {
  color: var(--main-white);
  text-align: center;
  font-size: 2rem;
  padding: 0.75rem;
}

.project-container {
  background: var(--main-black);
  color: var(--main-white);
  position: relative;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.project .project-overlay {
  background: var(--main-black);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.project:hover .project-overlay {
  opacity: 0.75;
}

.project-image {
  width: 100%;
}

.project-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project:hover .project-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.project-details h3 {
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.25em;
}

.project-details p {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.project-details i {
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

.project-details a:hover {
  color: var(--main-blue);
}

.fadeIn-top {
  top: 20%;
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  .projects-section {
    padding: 1rem 0.5rem 2rem 0.5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .project-container {
    width: 100%;
  }
}

/* contact section */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0 2rem;
  background: var(--main-black);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-options {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 980px; /* 980px */
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-option {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 0.75rem;
}

.contact-option:hover {
  cursor: pointer;
  transform: translateY(8px);
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  #contact {
    height: 80vh;
    justify-content: space-evenly;
  }
  .contact-section-header > h2 {
    font-size: 4rem;
  }

  .contact-options {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-option {
    padding: 0.15em;
  }

  .contact-option:hover {
    transform: none;
    color: var(--main-blue);
  }
}

/* contact me form */

#contact-me-form {
  display: none;
  position: fixed;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--main-white);
  background-color: var(--main-red);
  border: 8px solid var(--main-white);
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;
  max-width: 650px;
  border-radius: 2em;
  z-index: 999;
  transition: all 0.3s;
}

.contact-me-form-header {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid var(--main-white);
}

.close-contact-me-form {
  font-size: 1em;
  color: var(--main-white);
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  font-weight: bolder;
  padding-top: 10px;
  border: none;
}

.close-contact-me-form:hover {
  color: var(--main-black);
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

input {
  color: var(--main-white);
  background: var(--darker-red);
  padding: 1rem 0 1rem 1rem;
  font-size: 1.25rem;
  width: 80%;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-radius: 0.75rem;
}

.contact-message {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.35rem;
  color: var(--main-white);
  background: var(--darker-red);
  width: 80%;
  resize: none;
  border-radius: 0.75rem;
  border: none;
  padding: 1rem;
}

#contact-form-submit {
  color: var(--main-white);
  background: var(--main-black);
  border-radius: 0.75rem;
  padding: 10px;
  width: 50%;
  margin: 0.5rem auto;
  outline: none;
  border: 0;
  transition: all 0.5s;
}

#contact-form-submit:hover {
  background: var(--main-blue);
  cursor: pointer;
}

/* 768px / 16px = 48em */
@media (max-width: 48em) {
  #contact-me-form {
    top: 10%;
    left: 12.5%;
    width: 75%;
    height: 80%;
  }
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  #contact-me-form {
    left: 10%;
    top: 7.5%;
    width: 80%;
    height: 85%;
    border: 4px solid var(--main-white);
  }
}

/* Validate Contact Form */
#error_message {
  background: var(--alert-red);
  color: var(--main-white);
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/* footer */

footer {
  text-align: center;
  vertical-align: middle;
  border-radius: 0 0 2em 2em;
  font-size: 2rem;
  padding: 20px;
  color: var(--main-black);
  background: var(--main-white);
}

footer > p {
  padding: none;
}

/* go-to-top - button */

#go-top-button {
  display: none;
  position: fixed;
  top: 2rem;
  right: 4.5rem;
  z-index: 99;
  color: var(--main-white);
  cursor: pointer;
  border-radius: 10px;
  font-size: 2em;
  opacity: 0.55;
  border: none;
  outline: none;
  background: none;
}

#go-top-button:hover {
  opacity: 1;
}

/* 480px / 16px = 30em */
@media (max-width: 30em) {
  #go-top-button {
    right: 5%;
    font-size: 1.75em;
  }
}
