* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#container-stripes {
    width: 60%;
    height: 40%;
    background: repeating-linear-gradient(45deg, #FFFF00 0px, #FFFF00 40px, #000 40px, #000 80px);
    border-radius: 20px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box {
    background-color: #FFFF00;
    padding: 10px;
    width: 80%;
    height: 60%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Responsive layout - when the screen is less than 985px wide */
@media screen and (max-width: 985px) {
    .box h1{
        font-size: 40px;
        text-align: center;

        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* Responsive layout - when the screen is less than 700px wide */
@media screen and (max-width: 650px) {
    .box h1{
        font-size: 25px;
        text-align: center;

        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}