<div class="py-2 text-center min-h-screen">
  <h1 class="py-8 text-6xl">PAGE NOT FOUND</h1>
  <p class="py-8 text-3xl">
    We're sorry. The page you are looking for cannot be found.
  </p>

  <a routerLink="/home" class="mx-auto mt-28">
    <button
      type="button"
      class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline"
    >
      GO BACK TO HOME PAGE
    </button>
  </a>
</div>
