<section
  id="contact-me"
  class="flex flex-wrap overflow-scroll m-auto text-center"
>
  <div class="p-4 w-auto md:w-1/2 mx-auto">
    <div>
      <h2>Let's work together...</h2>
      <p>How do you take your coffee?</p>
    </div>
    <div>
      <p onclick="openContactForm()">
        <i
          aria-hidden="true"
          class="far fa-envelope"
          title="Open Contact Me form"
        ></i>
        Contact me
      </p>
      <a
        href="https://github.com/AlejandraVC"
        id="profile-link"
        target="_blank"
        class="btn contact-option"
        ><i
          aria-hidden="true"
          class="fab fa-github"
          title="Open Github profile"
        ></i>
        GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/alejandravch/"
        target="_blank"
        class="btn contact-option"
        ><i
          aria-hidden="true"
          class="fab fa-linkedin"
          title="Open LinkedIn profile"
        ></i>
        LinkedIn</a
      >
      <a
        href="https://twitter.com/alejandravcweb"
        target="_blank"
        class="btn contact-option"
        ><i
          aria-hidden="true"
          class="fab fa-twitter"
          title="Open Twitter profile"
        ></i>
        Twitter</a
      >
    </div>
  </div>

  <!-- Contact form -->
  <!-- <div id="contact-me-form">
    <button class="close-contact-me-form" onclick="openContactForm()">
      <i aria-hidden="true" class="fas fa-times" title="Close contact form"></i>
    </button>
    <h3 class="contact-me-form-header">CONTACT ME</h3>
    <div id="error_message"></div>
    <form
      class="contact-info"
      action="https://formspree.io/mbjjqbwy"
      method="POST"
      onsubmit="return validate();"
    >
      <div>
        <input type="text" name="name" placeholder="NAME" id="contact-name" />
      </div>
      <div class="input_field">
        <input
          type="email"
          name="email"
          placeholder="EMAIL"
          id="contact-email"
        />
      </div>
      <div class="input_field">
        <input
          type="text"
          name="subject"
          placeholder="SUBJECT"
          id="contact-subject"
        />
      </div>
      <div class="input_field">
        <textarea
          name="message"
          class="contact-message"
          placeholder="MESSAGE"
          id="contact-message"
          rows="7"
        ></textarea>
      </div>
      <button id="contact-form-submit" type="submit">
        SUBMIT
      </button>
    </form>
  </div> -->

  <form class="p-4 w-full mx-auto max-w-lg text-sm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
          for="name"
        >
          Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white"
          id="name"
          type="text"
          placeholder="Name LastName"
        />
        <p class="text-red-500 text-left">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
          for="email"
        >
          Email
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="email"
          type="email"
          placeholder="email@mail.com"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
          for="subject"
        >
          Subject
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="subject"
          type="text"
          placeholder="Subject"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
          for="message"
        >
          Message
        </label>
        <textarea
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="message"
          type="text"
          placeholder="Type your message.."
          rows="7"
        ></textarea>
      </div>
    </div>
  </form>
</section>
