body{
    font: 20px/1.5 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ol{
    margin: 0;
}

.subsection-title {
    text-align: center;
    color: #087E8B;
    font-size: 28px;
}

.sub-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footnote {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.code {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Go to Top - Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    top: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: #35424a 1px solid; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #35424a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
    opacity: .75;
}
  
#myBtn:hover {
    background-color: #e8491d; /* Add a dark-grey background on hover */
}

/* Header */
header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    display: inline;
    padding: 0px 15px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px
}

header .hightlight, header .current a, .sidenav .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}
  
nav .search-container {
    float: right;
}
  
nav input[type=text] {
    padding: 0px;
    font: 15px/1.5 'Dosis', sans-serif;
    font-size: 20px;
    border: none;
}

.button-search {
    float: right;
    color: #fff;
    padding: 5px 10px;
    background: #e8491d;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.button-search:hover {
    background: #ccc;
    cursor: pointer;
}

/* Sidebar */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e8491d; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.fa-bars {
    background: #35424a;
    color: #fff;
    font-size: 25px;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
}

.fa-bars:hover {
    background: #e8491d;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #35424a;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Index */
h2 {
    font-size: 50px;
    margin: 5px 0;
    text-align: center;
    color: #35424a;
    text-decoration: underline #35424a;
}

.index a {
    font-size: 25px;
    color: #35424a;
    text-decoration: none;
}

.index a:hover{
    color: #e8491d;
    font-weight: bold;
}

/* ------ IMAGES ------ */

.hedgehog img{
    width: 100%;
    border: #35424a 2px solid;
    border-radius: 10px;
}

.polaroid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* Hover Overlay */
.image-hover-overlay-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.box {
    width: 30%;
}

.text-fade-container{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.avatar {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #35424a;
}
  
.text-fade-container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Fade in Box - Hover Overlay */
.box-fade-container{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.box-text {
    background-color: #35424a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.fade-avatar {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-fade-container:hover .fade-avatar {
    opacity: 0.3;
}

.box-fade-container:hover .box-overlay {
    opacity: 1;
}

.box-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

/* Slide in - Hover Overlay */
.slide-in-container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.slide-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #35424a;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
.slide-in-container:hover .slide-overlay {
    bottom: 0;
    height: 100%;
  }
  
.slide-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* VISUAL DESIGN */

/* Linear Gradient to Create a Striped Element */
.demo-area {
    width: 100%;
    border: #35424a 2px solid;
    border-radius: 20px;
    height: 300px;
    margin:  50 auto;
    background: repeating-linear-gradient(
      90deg,
      #35424a 0px,
      #e8491d 40px,
      #35424a 40px,
      #087E8B 80px
    );
}

/* Rainbow */
.rainbow {
    width: 100%;
    border: #35424a 2px solid;
    border-radius: 20px;
    height: 300px;
    background: #FF0000;
  }

  #rect {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count:infinite;
  }
  
  @keyframes rainbow {
  0% {
    background-color: #FF0000;
  }
  20% {
    background-color: #ffa500;
  }
  40% {
    background-color: #ffff00;
  }
  60% {
    background-color: #008000;
  }
  80% {
    background-color: #0000ff;
  }
  100% {
    background-color: #800080;
  }
}

/* Heart design */
.heart-area {
    width: 100%;
    border: #35424a 2px solid;
    border-radius: 20px;
    height: 300px;
    padding: 0;
    background: white;
    animation-name: heart-areadiv;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
}

.heart {
    position: relative;
    top: 50%;
    left: 50%;

    margin-top:-25px;
    margin-left:-25px;

    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}
.heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}

@keyframes heart-areadiv {
    50% {
      background: #ffe6f2;
    }
}

@keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
}

/* Footer */
footer{
    font-size: 15px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #e8491d;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding, header nav, header nav li, nav {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;  
    }

    .image-hover-overlay-container{
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        width: 100%;
    }

    .sub-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}