body{
    font: 20px/1.5 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ol{
    margin: 0;
}

.subsection-title {
    text-align: center;
    color: #087E8B;
    font-size: 28px;
}

.sub-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footnote {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.code {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Go to Top - Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    top: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: #35424a 1px solid; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #35424a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #e8491d; /* Add a dark-grey background on hover */
  }

/* Header */
header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    display: inline;
    padding: 0px 15px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px
}

header .hightlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}
  
nav .search-container {
    float: right;
}
  
nav input[type=text] {
    padding: 0px;
    font: 15px/1.5 'Dosis', sans-serif;
    font-size: 20px;
    border: none;
}

.button-search {
    float: right;
    color: #fff;
    padding: 5px 10px;
    background: #e8491d;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.button-search:hover {
    background: #ccc;
    cursor: pointer;
}

/* Index */
h2 {
    font-size: 50px;
    margin: 5px 0;
    text-align: center;
    color: #35424a;
    text-decoration: underline #35424a;
}

.index a {
    font-size: 25px;
    color: #35424a;
    text-decoration: none;
}

.index a:hover{
    color: #e8491d;
    font-weight: bold;
}

/* ------ IMAGES ------ */

.hedgehog img{
    width: 100%;
    border: #35424a 2px solid;
    border-radius: 10px;
}

.polaroid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* Hover Overlay */
.image-hover-overlay-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.box {
    width: 30%;
}

.text-fade-container{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.avatar {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #35424a;
}
  
.text-fade-container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Fade in Box - Hover Overlay */
.box-fade-container{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.box-text {
    background-color: #35424a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.fade-avatar {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-fade-container:hover .fade-avatar {
    opacity: 0.3;
}

.box-fade-container:hover .box-overlay {
    opacity: 1;
}

.box-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

/* Slide in - Hover Overlay */
.slide-in-container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.slide-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #35424a;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
.slide-in-container:hover .slide-overlay {
    bottom: 0;
    height: 100%;
  }
  
.slide-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Footer */
footer{
    font-size: 15px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #e8491d;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding, header nav, header nav li, nav {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;  
    }

    .image-hover-overlay-container{
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        width: 100%;
    }

    .sub-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}