<section
  id="skills"
  class="mb-4 bg-black m-auto rounded-lg shadow-2xl text-center"
>
  <h2 class="pb-2 uppercase text-center font-bold underline">
    &nbsp;Skills&nbsp;
  </h2>
  <div class="my-3 flex flex-row">
    <div class="mx-auto text-center">
      <img
        class="w-20 md:w-24"
        src="../../../assets/logos/html5-logo.png"
        alt="HTML5 logo"
      />
      <h3>HTML5</h3>
      <p></p>
    </div>
    <div class="mx-auto text-center">
      <img
        class="w-20 md:w-24"
        src="../../../assets/logos/css3-logo.png"
        alt="CSS3 logo"
      />
      <h3>CSS3</h3>
      <p></p>
    </div>
    <div class="mx-auto text-center">
      <img
        class="w-20 md:w-24"
        src="../../../assets/logos/javascript-logo.png"
        alt="JavaScript logo"
      />
      <h3>JavaScript</h3>
      <p></p>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center">
    <div class="mx-auto text-center">
      <img
        class="w-16 md:w-20"
        src="../../../assets/logos/angular-logo.svg"
        alt="Angular logo"
      />
      <h4>Angular</h4>
    </div>
    <div class="mx-auto text-center">
      <img
        class="md:pb-1 w-16 md:w-20"
        src="../../../assets/logos/nodejs-logo.png"
        alt="Node.js logo"
      />
      <h4>Node.js</h4>
    </div>
    <div class="mx-auto text-center">
      <img
        class="md:pb-1 w-16 md:w-20"
        src="../../../assets/logos/typescript-logo.png"
        alt="Typescript logo"
      />
      <h4>Typescript</h4>
    </div>
    <div class="mx-auto text-center">
      <img
        class="md:pb-1 w-16 md:w-20"
        src="../../../assets/logos/github-logo.png"
        alt="GitHub logo"
      />
      <h4>GitHub</h4>
    </div>
    <div class="mx-auto text-center">
      <img
        class="md:pb-4 md:pt-5 w-16 md:w-20"
        src="../../../assets/logos/tailwind-logo.png"
        alt="Tailwind logo"
      />
      <h4>Tailwind</h4>
    </div>
    <div class="mx-auto text-center">
      <img
        class="md:pb-1 w-16 md:w-20"
        src="../../../assets/logos/contenful-logo.png"
        alt="Contentful logo"
      />
      <h4 class="">Contentful</h4>
    </div>
  </div>
</section>
