<div class="max-w-7xl mx-auto flex flex-col xl:flex-row text-gray-800">
  <div
    class="w-3/4 lg:w-1/2 xl:w-1/3 mx-auto my-12 p-4 text-gray-800 border-4 border-solid border-gray-800 rounded-md"
  >
    <div>
      <p class="pb-2 text-primary-default text-xl text-center">
        TODOS LOS DIAS
      </p>
      <ul>
        <li>TAMALES DE ACELGA</li>
        <li>ENSALADA ISABELA</li>
        <li>PANINIS</li>
        <li>AGUA FRESCA</li>
        <li>
          Milanesa de Pollo o Res adobada, empanizada o a la plancha SOBRE
          PEDIDO (20 MINUTOS)
        </li>
        <li>Pescado a la plancha SOBRE PEDIDO (20 MINUTOS)</li>
        <li>Arroz blanco y rojo</li>
        <li>Frijoles fritos y de la olla</li>
        <li>Spaghetti</li>
        <li>Papas y puré</li>
        <li>Vegetales al vapor y Ensalada fresca</li>
        <li>Brownies</li>
        <li>Polvorones</li>
        <li>Gelatinas de yogurt</li>
        <li>Gelatinas de frutas</li>
        <li>Arroz con leche</li>
        <li>Tapioca</li>
        <li>Jericallas</li>
        <li>Flan napolitano</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div
    class="w-3/4 lg:w-1/2 mx-auto my-12 p-4 border-4 border-solid border-gray-800 rounded-md"
  >
    <div
      class="flex flex-col py-2 border-b border-solid border-primary-default"
    >
      <p class="font-semibold text-center">LUNES 01</p>
      <ul class="pl-6 font-extralight text-primary-default list-disc">
        <li>
          <span class="text-gray-800">
            <span class="font-normal">Pollo a la jardinera</span> - Con salsa de
            jitomate y vegetales picados
          </span>
        </li>
        <li>
          <span class="text-gray-800">
            <span class="font-normal">Pastel de atún</span> - Horneado</span
          >
        </li>
        <li>
          <span class="text-gray-800"
            ><span class="font-normal">Brochetas de cerdo a la cazuela</span> -
            Trocitos c/ pimientos, champiñones y tocino</span
          >
        </li>
        <li>
          <span class="text-gray-800"
            ><span class="font-normal">Tortilla entomatada</span> - De requesón,
            gratinada</span
          >
        </li>
        <li>
          <span class="text-gray-800"
            ><span class="font-normal">Consomé de pollo</span>
          </span>
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col py-2 border-b border-solid border-primary-default"
    >
      <p class="font-semibold text-center">MARTES 02</p>
      <ul class="font-extralight">
        <li>
          <span class="font-normal">Pollo con mole coloradito</span> -
          Ligeramente picante
        </li>
        <li>
          <span class="font-normal">Lasaña Boloñesa</span> - Con carne de res,
          salsa italiana, gratinada
        </li>
        <li>
          <span class="font-normal">Lomo con crema de champiñones</span> -
          Bañado en salsa cremosa de champiñones
        </li>
        <li>
          <span class="font-normal">Tortitas de papas con rajas y elote</span>
        </li>
        <li><span class="font-normal">Sopa de fideos</span></li>
      </ul>
    </div>
    <div
      class="flex flex-col py-2 border-b border-solid border-primary-default"
    >
      <p class="font-semibold text-center">MIERCOLES 03</p>
      <ul class="font-extralight">
        <li>
          <span class="font-normal">Enchiladas adobadas</span> - Rellenas de
          pollo o requesón
        </li>
        <li>
          <span class="font-normal">Picadillo de carne deshebrada de res</span>
          - Con caldillo, chayote, papa, zanahoria
        </li>
        <li>
          <span class="font-normal">Cerdo con salsa verde</span> - Salsa de
          tomate con rajas y cubitos de papas
        </li>
        <li><span class="font-normal">Nopales a la mexicana</span></li>
        <li>
          <span class="font-normal">Consomé Margarita</span> - Con pollo
          deshebrado y arroz
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col py-2 border-b border-solid border-primary-default"
    >
      <p class="font-semibold text-center">JUEVES 04</p>
      <ul class="font-extralight">
        <li>
          <span class="font-normal">Pollo con salsa de yogurth</span> - Con un
          toque de mostaza y jerez
        </li>
        <li>
          <span class="font-normal">Albóndigas con caldillo</span> - De jitomate
          con verduras
        </li>
        <li>
          <span class="font-normal">Costillas BBQ</span> - Salsa agridulce
          ligeramente ahumada
        </li>
        <li>
          <span class="font-normal">Pastel de papas</span> - Al horno gratinadas
        </li>
        <li>
          <span class="font-normal">Pozolillo</span> - Con caldillo verde y
          pollo deshebrado
        </li>
      </ul>
    </div>
    <div class="flex flex-col pt-2">
      <p class="font-semibold text-center">VIERNES 05</p>
      <ul class="font-extralight">
        <li>
          <span class="font-normal">Chiles rellenos capeados</span> - Con queso
          y panela, con salsa de jitomate
        </li>
        <li><span class="font-normal">Birria de Pollo</span></li>
        <li>
          <span class="font-normal">Filete de pescado empanizado</span> - Con
          pan, cereal y especias
        </li>
        <li>
          <span class="font-normal">Fajitas de cerdo con salsa ranchera</span>
          - De jitomate, ligeramente picosa
        </li>
        <li>
          <span class="font-normal">Lasaña florentina</span> - De espinacas,
          requesón
        </li>
        <li>
          <span class="font-normal">Ensalada de pollo</span> - Pechuga
          deshebrada
        </li>
      </ul>
    </div>
  </div>
</div>
